# This workflow creates a GitHub Release when a new tag is pushed to the repository.
# It uses the following third-party actions:
# norio-nomura/action-gh-release - https://github.com/norio-nomura/action-swiftlint
# sersoft-gmbh/xcodebuild-action - https://github.com/sersoft-gmbh/xcodebuild-action

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1

  test:
    name: "Unit Tests"
    runs-on: macos-15
    env:
      XCODE_SCHEME: "JWWUIKit"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and Test (macOS)
        uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          spm-package: "./"
          scheme: JWWAppKit
          destination: platform=macOS
          action: test
