# This workflow creates a GitHub Release when a new tag is pushed to the repository.
# It uses the following third-party actions:
# softprops/action-gh-release - https://github.com/softprops/action-gh-release

name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    if: ${{ !contains(github.ref_name, '-') }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Generate GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          generate_release_notes: true
